body {
    font-family: 'Roboto', sans-serif;
    padding: 2%;
}

.tagline {
    font-size: 12px;
    color: gray;
    font-style: italic;
}

table {
    width: 100%;
}

.line {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
}

.inputArea {
    display: inline-block;
    width: 33%;
}

/* Tabs */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    display: none;
    padding: 15px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
}

.error {
    color: #800020;
}

.form {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.sorting {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  

.red {
    background-color: #f44336;
}