.pill {
    font-size: large;
}

.red {
    background-color: #990000;
}

.yellow {
    background-color: #999900;
}

.green {
    background-color: #4C9900;
}

.cyan {
    background-color: #009999;
}

.blue {
    background-color: #004C99;
}

.purple {
    background-color: #4C0099;
}


.remove {
    visibility: hidden;
}